<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Video Analytics</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="libs/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <style> [ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; } 
      </style>
   </head>
   <body ng-app="indeeApp">
      <div class="container"ng-controller="videoCtrl">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h1>Video Analytics Represntation</h1>
               <hr>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12 well">
               <fieldset>
                  <legend>Enter Details</legend>
                  <form  name="inputForm" ng-submit="addData()">
                     <div class="row">
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group required">
                              <label class="control-label">IP Address:</label>
                              <input type="text" ng-model="video.ip" class="form-control" placeholder='xxx.xxx.xxx.xxx'   ng-pattern = "/^(\d{1,3}\.){3}(\d{1,3})$/" name="ip" required>
                              <span ng-show="inputForm.ip.$dirty && inputForm.ip.$invalid" style="color:red"> This is an invalid IP.</span>
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group required">
                              <label class="control-label">Timestamp:</label>
                              <input type="date" ng-model="video.timestamp" class="form-control" required>
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group required">
                              <label class="control-label"> Full Viewed?</label>
                              <select class="form-control" ng-model="video.fullView" required>
                                 <option value=1>True</option>
                                 <option value=0>False</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group required">
                              <label class="control-label"> Video Length:</label>
                              <input type="text" ng-model="video.fullLength" class="form-control" required>
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group required">
                              <label class="control-label"> Video On-time:</label>
                              <input type="text" ng-model="video.ontime" class="form-control" required>
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                           <div class="form-group">
                              <label>Complete:</label>
                              <input type="text" ng-model="video.complete" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 col-lg-4" ng-hide="video.fullView==true">
                           <strong>Please Enter the seek values if any:</strong>
                        </div>
                        <div class="col-md-4 col-lg-4" ng-hide="video.fullView==true">
                           <div class="form-group">
                              <label>Seek From:</label>
                              <input type="text" ng-model="video.seekFrom" class="form-control" ng-disabled="video.fullView==true" >
                           </div>
                        </div>
                        <div class="col-md-4 col-lg-4" ng-hide="video.fullView==true">
                           <div class="form-group">
                              <label>Seek To:</label>
                              <input type="text" ng-model="video.seekTo" class="form-control" ng-disabled="video.fullView==true">
                           </div>
                        </div>
                     </div>
            </div>
         </div>
         <div class="row">
         <div class="form-group text-center">
         <button type="submit" class="btn btn-primary btn-md"><span><i class="fa fa-check-square-o"></i></span> submit</button> <button class="btn btn-default btn-md" ng-click="clear()" ><span><i class="fa fa-trash-o"></i></span> Clear</button>
         </div>
         </div>
         </form>
         </fieldset>
         <hr>
         <div class="row">
            <div class="col-lg-12  col-md-12 well">
               <fieldset>
                  <legend>Most Recent Views</legend>
                  <table class="table table-striped table-hover table-bordered">
                     <thead >
                        <tr>
                           <th><span><i class="fa fa-map-marker"></i></span> IP Address</th>
                           <th style="width:400px;"><span><i class="fa fa-bars"></i></span>
                              Engagement
                           </th>
                           <th><span><i class="fa fa-check-circle"></i></span> Video On-time</th>
                           <th><span><i class="fa fa-clock-o"></i></span> Timestamp</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="info in ArrinfoData">
                           <td>{{info.ip}}</td>
                           <td>
                              <!-- visible only if fullView = 'true' -->
                              <span ng-if="info.fullView==true">
                                 <uib-progress >
                                    <uib-bar  value="100" type="success" class="progress-striped active"><span></span></uib-bar>
                                 </uib-progress>
                              </span>
                              <!-- visible only if fullLength = 0 -->
                              <span ng-if="info.fullLength !=0 && info.fullView==false && !info.seekFrom && !info.seekTo">
                                 <uib-progress >
                                    <uib-bar value="(info.ontime/info.fullLength)*100" type="success" class="progress-striped active"><span></span></uib-bar>
                                 </uib-progress>
                              </span>
                              <!-- visible only if seek is present in object -->
                              <uib-progress ng-if="info.seek">
                                 <uib-bar ng-repeat="bar in info.seek track by $index" value="bar.value" type="{{bar.type}}" class="progress-striped active"></uib-bar>
                              </uib-progress>
                              <!-- visible only if video length is 0 -->
                              <span ng-if="info.fullLength==0">
                                 <uib-progress >
                                    <uib-bar value="info.fullLength" type="default" class="progress-striped active"><span></span></uib-bar>
                                 </uib-progress>
                              </span>
                           </td>
                           <td> {{info.ontime}}</td>
                           <td>{{info.timestamp  | date: 'yyyy-MM-dd h:mm:ss'}}</td>
                           <td><button class="btn btn-default btn-xs" type="submit" ng-click="remove($index)" > <span><i class="fa fa-trash-o"></i></span> Remove</button></td>
                        </tr>
                     </tbody>
                  </table>
               </fieldset>
            </div>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
      <script src="libs/ui-bootstrap.min.js"></script>
      <script src="app.js"></script>
   </body>
</html>