<!DOCTYPE html>
<html lang="en">
   <head>
      <title>INDEE</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="libs/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <style> [ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; } 
      </style>
     
      <!-- custom style for display-bar -->
      <style>
         .progress {
         height: 30px;
         margin-bottom: 0px;
         overflow: hidden;
         background-color: #cad5d7;
         border-radius: 0px;
         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
         }
         .progress-bar-default{
         background-color: #cad5d7;
         }
      </style>
   </head>
   <body ng-app="indeeApp">
      <div class="container"ng-controller="videoCtrl">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h1>INDEE Test Task</h1>
               <hr>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-md-3 well">
               <fieldset>
                  <legend>Input Form</legend>
                  <form  ng-submit="addData()">
                     <div class="form-group">
                        <label>IP Address:</label>
                        <input type="text" ng-model="video.ip" class="form-control" required>
                     </div>

                     <div class="form-group">
                        <label>Timestamp:</label>
                        <input type="text" ng-model="video.timestamp" class="form-control" required>
                     </div>

                     <div class="form-group">
                        <label> Full View?</label>
                        <select class="form-control" ng-model="video.fullView">
                           <option value=1>True</option>
                           <option value=0>False</option>
                        </select>
                     </div>

                     <div class="form-group">
                        <label> Length:</label>
                        <input type="text" ng-model="video.fullLength" class="form-control">
                     </div>

                     <div class="form-group">
                        <label> Ontime:</label>
                        <input type="text" ng-model="video.ontime" class="form-control">
                     </div>

                     <div class="form-group">
                        <label>Complete:</label>
                        <input type="text" ng-model="video.complete" class="form-control">
                     </div>
                     <div class="form-group text-center">
                          <button type="submit" class="btn btn-success btn-xs">submit</button> <button class="btn btn-danger btn-xs" ng-click="clear()" >Clear</button>
                     </div>

                  </form>
               </fieldset>
            </div>

            <div class="col-lg-9  col-md-9 ">
            <div class="well">
            <fieldset>
            <legend>Most Recent Views</legend>
               <table class="table table-striped table-hover">
                  <thead >
                     <tr>
                        <th>IP Address</th>
                        <th>Engagement</th>
                        <th>Timestamp</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="info in ArrinfoData">
                        <td>{{info.ip}}</td>
                        <td>
                           <!-- visible only if fullView = 'true' -->
                           <span ng-if="info.fullView==true">
                              <uib-progress >
                                 <uib-bar  value="100" type="success" class="progress-striped active"><span></span></uib-bar>
                              </uib-progress>
                           </span>
                           <!-- visible only if fullLength = 0 -->

                           <span ng-if="info.fullLength==0">
                              <uib-progress >
                                 <uib-bar value="0" type="default" class="progress-striped active"><span></span></uib-bar>
                              </uib-progress>
                           </span>
                           <!-- visible only if seek is present in object -->
                           <uib-progress ng-if="info.seek">
                              <uib-bar ng-repeat="bar in info.seek track by $index" value="bar.value" type="{{bar.type}}" class="progress-striped active"><span ng-hide="bar.value < 5"></span></uib-bar>
                           </uib-progress>
                        </td>
                        <td>{{info.timestamp  | date:'medium'}}</td>
                        <td><button class="btn btn-danger btn-xs" type="submit" ng-click="remove($index)" >Remove</button></td>
                     </tr>
                  </tbody>
               </table>
               </fieldset>
               </div>
            </div>
         </div>
         {{store.products}}
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
      <script src="libs/ui-bootstrap.min.js"></script>
      <script src="app.js"></script>
   </body>
</html>
